/* subnav */
.subnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.subnav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}
.subnav a {
    font-family: moonFont;
    font-weight: 300;
    color: #3E3E3E;
    font-size: 2em;

    letter-spacing: 3px;
}
.subnav a.selected {
    font-family: moonFont;
    font-weight: 300;
    color: #F56F54;

    letter-spacing: 3px;
}
/* end of subnav */

.guide-page-content {
    height: 65vh;
}

.guide-section {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 70px 0 0 70px; /*TL TR BR BL*/
    box-shadow: inset 10px 10px 20px #CBCBCB, inset -10px -10px 20px #FFFFFF;
}
.guide-section-extension {
    height: 100%;
    margin-left: -1.25em;
    box-shadow: inset 0px 10px 20px #CBCBCB, inset 0px -10px 20px #FFFFFF;
}

/* body::-webkit-scrollbar-track {} */
/* body::-webkit-scrollbar-thumb {} */


/* guide book graphic */
#graphic{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 130%;
    transition: height 1.6s ease-in-out .8s;
}
#graphic.hide{
    height: 0;
}
.top {
    /* margin-top: 30%; */
}
.page{
    width: 500px;
    height: 370px;
    flex-shrink: 0;
    transform: matrix(0.71, 0.41, -1.22, 0.71, 0, 0);
    margin-bottom: -360px;

    background-color: #EBECF0;
    box-shadow: 4px 4px 8px rgba(203, 203, 203, .4);
    /* transition : border 400ms ease-out, font 300ms ease-out;  */
    /* TODO make transition for the background color */
    transition: margin 1.2s ease-in-out, background 0.4s ease-in;
}
.page.lit{
    background: linear-gradient(180deg, rgba(244,106,80,1) 0%, rgba(246,140,116,1) 100%);
}
.page.lifted{
    margin-bottom: 320px;
}
.page-base{
    width: 560px;
    height: 380px;
    flex-shrink: 0;
    transform: matrix(0.71, 0.41, -1.22, 0.71, 0, 0);
    margin-bottom: 150px;
    margin-left: -40px;

    border-radius: 10px;
    box-shadow: inset 10px 2px 20px #CBCBCB, inset -10px -2px 20px #FFFFFF;
}
/* end of guide book graphic */


/* guide articles */
.guide-section > article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;

    padding: 40px 100px;
}
.guide-section > article > *{
    grid-column: span 2;
}
.guide-section > article > .col-1 {
    grid-column: span 1;
    width: 100%;
}
/* end of guide articles */
