/* default 12 column grid container used on site, flexable to mobile*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.25em;

    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.grid-container-bleed {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.25em;

    width: 100%;
    margin: 0 auto;
}

/* standard max width for our site */
.max-width{
    width: 1240px;
}

/* spans all rows of grid container */
.max-row{
    grid-row: 1/-1;
}

/* spans all columns of grid container */
.max-col{
    grid-column: 1/-1;
}

@media screen and (max-width:90em){
    .grid-container {
	    width: calc(100vw - 215px);
        margin: 0 100px;
    }
}

@media screen and (max-width:45em){
    .grid-container {
	    width: calc(100vw - 55px);
        margin: 0 20px;
        grid-gap: .5em;
    }

    /* mobile-breakpoints */
    .mobile-col-1 {
        grid-column-end: span 1 !important;
    }
    .mobile-col-2 {
        grid-column-end: span 2 !important;
    }
    .mobile-col-3 {
        grid-column-end: span 3 !important;
    }
    .mobile-col-4 {
        grid-column-end: span 4 !important;
    }
    .mobile-col-5 {
        grid-column-end: span 5 !important;
    }
    .mobile-col-6 {
        grid-column-end: span 6 !important;
    }
    .mobile-col-7 {
        grid-column-end: span 7 !important;
    }
    .mobile-col-8 {
        grid-column-end: span 8 !important;
    }
    .mobile-col-9 {
        grid-column-end: span 9 !important;
    }
    .mobile-col-10 {
        grid-column-end: span 10 !important;
    }
    .mobile-col-11 {
        grid-column-end: span 11 !important;
    }
    .mobile-col-12 {
        grid-column-end: span 12 !important;
    }

    .mobile-start-col-1 {
        grid-column-start: 1  !important;
    }
    .mobile-start-col-2 {
        grid-column-start: 2  !important;
    }
    .mobile-start-col-3 {
        grid-column-start: 3  !important;
    }
    .mobile-start-col-4 {
        grid-column-start: 4  !important;
    }
    .mobile-start-col-5 {
        grid-column-start: 5  !important;
    }
    .mobile-start-col-6 {
        grid-column-start: 6  !important;
    }
    .mobile-start-col-7 {
        grid-column-start: 7  !important;
    }
    .mobile-start-col-8 {
        grid-column-start: 8  !important;
    }
    .mobile-start-col-9 {
        grid-column-start: 9  !important;
    }
    .mobile-start-col-10 {
        grid-column-start: 10  !important;
    }
    .mobile-start-col-11 {
        grid-column-start: 11  !important;
    }
}





.grid-container.example p {
    text-align: center;
}
.grid-container.example {
    padding: 1em 0;
    background-color: #B8DAE4;
}
.grid-example {
    color: #312E37;
    background-color: white;
}
.grid-example.tall {
    min-height: 340px;
}

.col-1 {
    grid-column-end: span 1;
}
.col-2 {
    grid-column-end: span 2;
}
.col-3 {
    grid-column-end: span 3;
}
.col-4 {
    grid-column-end: span 4;
}
.col-5 {
    grid-column-end: span 5;
}
.col-6 {
    grid-column-end: span 6;
}
.col-7 {
    grid-column-end: span 7;
}
.col-8 {
    grid-column-end: span 8;
}
.col-9 {
    grid-column-end: span 9;
}
.col-10 {
    grid-column-end: span 10;
}
.col-11 {
    grid-column-end: span 11;
}
.col-12 {
    grid-column-end: span 12;
}

.start-col-1 {
    grid-column-start: 1;
}
.start-col-2 {
    grid-column-start: 2;
}
.start-col-3 {
    grid-column-start: 3;
}
.start-col-4 {
    grid-column-start: 4;
}
.start-col-5 {
    grid-column-start: 5;
}
.start-col-6 {
    grid-column-start: 6;
}
.start-col-7 {
    grid-column-start: 7;
}
.start-col-8 {
    grid-column-start: 8;
}
.start-col-9 {
    grid-column-start: 9;
}
.start-col-10 {
    grid-column-start: 10;
}
.start-col-11 {
    grid-column-start: 11;
}
.start-col-12 {
    grid-column-start: 12;
}
