/* default 12 column grid container used on site, flexable to mobile*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.25em;

    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

/* alternative grid-container that goes to the edge of the page */
.full-grid-container {
    display: grid;
    grid-template-columns: 
        [full-start] minmax(80px, 1fr) 
        [main-start] repeat(12, minmax(0, 5.3125em)) [main-end]
        minmax(80px, 1fr) [full-end];
    grid-gap: 1.25em;
}
.full-grid-container > .max-col{
    grid-column: full;
}

.grid-container-bleed {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.25em;

    width: 100%;
    margin: 0 auto;
}

/* standard max width for our site */
.max-width{
    width: 1240px;
}

/* spans all rows of grid container */
.max-row{
    grid-row: 1/-1;
}

/* spans all columns of grid container */
.max-col{
    grid-column: 1/-1;
}

/* auto margin to minimize cramp */
@media screen and (max-width:90em){
    .grid-container {
	    width: calc(100vw - 215px);
        margin: 0 100px;
    }
}

/* "mobile-" size */
@media screen and (max-width:45em){
    .grid-container {
	    width: calc(100vw - 55px);
        margin: 0 20px;
        grid-gap: .5em;
    }
    .full-grid-container {
        grid-template-columns: 
            [full-start] minmax(20px, 1fr) 
            [main-start] repeat(12, minmax(0, 5.3125em)) [main-end]
            minmax(20px, 1fr) [full-end];
        grid-gap: .5em;
    }

    /* mobile-breakpoints */
    .mobile-col-1 {
        grid-column-end: span 1 !important;
    }
    .mobile-col-2 {
        grid-column-end: span 2 !important;
    }
    .mobile-col-3 {
        grid-column-end: span 3 !important;
    }
    .mobile-col-4 {
        grid-column-end: span 4 !important;
    }
    .mobile-col-5 {
        grid-column-end: span 5 !important;
    }
    .mobile-col-6 {
        grid-column-end: span 6 !important;
    }
    .mobile-col-7 {
        grid-column-end: span 7 !important;
    }
    .mobile-col-8 {
        grid-column-end: span 8 !important;
    }
    .mobile-col-9 {
        grid-column-end: span 9 !important;
    }
    .mobile-col-10 {
        grid-column-end: span 10 !important;
    }
    .mobile-col-11 {
        grid-column-end: span 11 !important;
    }
    .mobile-col-12 {
        grid-column-end: span 12 !important;
    }
    .mobile-col-13 {
        grid-column-end: span 13 !important;
    }
    .mobile-col-14 {
        grid-column-end: span 14 !important;
    }

    .mobile-start-col-1 {
        grid-column-start: 1  !important;
    }
    .mobile-start-col-2 {
        grid-column-start: 2  !important;
    }
    .mobile-start-col-3 {
        grid-column-start: 3  !important;
    }
    .mobile-start-col-4 {
        grid-column-start: 4  !important;
    }
    .mobile-start-col-5 {
        grid-column-start: 5  !important;
    }
    .mobile-start-col-6 {
        grid-column-start: 6  !important;
    }
    .mobile-start-col-7 {
        grid-column-start: 7  !important;
    }
    .mobile-start-col-8 {
        grid-column-start: 8  !important;
    }
    .mobile-start-col-9 {
        grid-column-start: 9  !important;
    }
    .mobile-start-col-10 {
        grid-column-start: 10  !important;
    }
    .mobile-start-col-11 {
        grid-column-start: 11  !important;
    }
    .mobile-start-col-12 {
        grid-column-start: 12  !important;
    }
    .mobile-start-col-13 {
        grid-column-start: 13  !important;
    }
}





.grid-container.example p, .full-grid-container.example p{
    text-align: center;
}
.grid-container.example, .full-grid-container.example {
    padding: 1em 0;
    background-color: #B8DAE4;
}
.grid-example {
    color: #312E37;
    background-color: white;
}
.grid-example.tall {
    min-height: 340px;
}

.col-1 {
    grid-column-end: span 1;
}
.col-2 {
    grid-column-end: span 2;
}
.col-3 {
    grid-column-end: span 3;
}
.col-4 {
    grid-column-end: span 4;
}
.col-5 {
    grid-column-end: span 5;
}
.col-6 {
    grid-column-end: span 6;
}
.col-7 {
    grid-column-end: span 7;
}
.col-8 {
    grid-column-end: span 8;
}
.col-9 {
    grid-column-end: span 9;
}
.col-10 {
    grid-column-end: span 10;
}
.col-11 {
    grid-column-end: span 11;
}
.col-12 {
    grid-column-end: span 12;
}
.col-13 {
    grid-column-end: span 13;
}
.col-14 {
    grid-column-end: span 14;
}

.start-col-1 {
    grid-column-start: 1;
}
.start-col-2 {
    grid-column-start: 2;
}
.start-col-3 {
    grid-column-start: 3;
}
.start-col-4 {
    grid-column-start: 4;
}
.start-col-5 {
    grid-column-start: 5;
}
.start-col-6 {
    grid-column-start: 6;
}
.start-col-7 {
    grid-column-start: 7;
}
.start-col-8 {
    grid-column-start: 8;
}
.start-col-9 {
    grid-column-start: 9;
}
.start-col-10 {
    grid-column-start: 10;
}
.start-col-11 {
    grid-column-start: 11;
}
.start-col-12 {
    grid-column-start: 12;
}
.start-col-13 {
    grid-column-start: 13;
}
.start-col-14 {
    grid-column-start: 14;
}


/* ------- product details page ------- */
/* product details page - gallery section */
.gallery-grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 80vh;
    grid-gap: 1.5rem;
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.gallery-item-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;



  /* Alternative Syntax */
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

  .gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /* Alternative Syntax */
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery-item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  
    /* Alternative Syntax */
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery-item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /* Alternative Syntax */
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }

/* end of  product details page - gallery section */
/* ------- end of product details page ------- */

