

.hero-container.home-page{
  background-image: url(../img/products/clearkeycaps4.jpg);

  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 65%;

}

.hero-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  grid-template-rows: repeat(12, 1fr);
}

.hero-container p{
  max-width: 65%;
}

.hero-container .content {
  grid-column: 2 / span 6;

  grid-row: 2 / span 7;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mobile-hero-text {
  display: none;
}


.hero-container h1{
  font-family: moonFont;
  /*font-size: 3rem;*/
  font-weight: 300;
  letter-spacing: 5px;
  color: #3E3E3E;
}

.hero-product-container{
  position: relative;
}

.hero-product-container img{
  vertical-align: bottom;
}

.hero-product-container .real-button-example{
  position: absolute;
  bottom: 2em;
  right: 2em;
}

h2 {
  font-size: 2.25rem;
}

h3{
  font-size: 1.6rem;
}

.about-us h2, .about-us p{
  color: white;
}

.about-us p{
  /*grid-column: 7 / span 3;*/
  /*padding-left: 6rem;*/
  max-width: 55%;
}
.about-us {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 6rem 0 6rem 0;
}

.mobilebest-seller.mobile-product-cards{
  display: none;
}

.imgleft-contentright {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2.5em 0 2.5em 0;
}

.imgleft-contentright img{
  width: 100%;
  height: auto;
  grid-column: 2 / span 6;
}
.imgleft-contentright .product-info {

  grid-column: 8 / span 4;
  /*background-color: pink;*/
  margin-left: 3rem;
  display: flex;
  flex-direction: column;

}

.imgright-contentleft {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2.5em 0 2.5em 0;
}
.imgright-contentleft img{
  width: 100%;
  height: auto;
  grid-column: 6 / span 6;
}
.imgright-contentleft .product-info {

  grid-column: 2 / span 4;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;

}

.view-all-section{
  grid-column: 1/span 12;

  display: flex;
  flex-direction: row;
  justify-content: center;

}

#homepage-guides {
  /*background-image: url(../img/cliqguideskeyboard2.png);

  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;*/

  margin: 0 0 3rem 0;
}

.guide-container.guides-page{
  background-image: url(../img/banner/cliqguideskeyboard2.png);

  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;

}

.guide-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  grid-template-rows: repeat(8, 1fr);
}

.guide-container p{
  max-width: 100%;
}

.guide-container .content {
  grid-column: 5 / span 4;

  grid-row: 4 / span 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
}

.guide-container .content .guides-title {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.guide-container .content a{
  text-decoration: none;
  color: #3E3E3E;
}


.guide-container .content a:hover{
  /*color: #F65F54;*/
  opacity: 70%;

}

.guide-container-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  margin: 80px 0 100px;
}
.guide-container-2 {
  width: 982px;
  margin: auto;
  flex-shrink: 0;
  padding: 20px 0;
}
.guide-graphic-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 40px;
  margin: 40px 0;
}
.guide-graphic-row:first-child {
  margin-left: -70px;
  margin-right: 70px;
}
.guide-graphic-row:last-child {
  margin-left: 70px;
  margin-right: -70px;
}
.guide-graphic-deco, .guide-graphic-cta {
  font-family: moonFont;
  font-size: 2.5em;
  font-weight: 300;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guide-graphic-deco {
  color: #C6D1D3;
  user-select: none;
}
.guide-graphic-cta {
  grid-column-end: span 3;
  justify-self: center;

  width: 100%;
  max-width: 70vw;
}



/* for big screen */
@media screen and (min-width: 110em) {
  .hero-container h1{
    font-size: 4.75rem;
  }
}

/* switch to mobile res */
@media screen and (max-width: 57em) {


  .hero-container.home-page{
    background-image: url(../img/banner/keycapTest.jpg);
    /*background-color: pink;*/
    height: 110vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

  }


  .hero-container .content {
    grid-column: 3 / span 8;

    grid-row: 4 / span 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .homepage-header {
    padding-bottom: 0;
  }

  #mobile-hero-text {
    display: flex;
  }

  #desktop-hero-text {
    display: none;
  }

  .hero-container .content p, .about-us p{
    max-width: 100%;
  }
  .about-us {

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 6rem 0 6rem 0;
  }
  .about-us h2, #best-sellers h2{
    text-align: center;
  }

  .desktopbest-seller{
    display: none;
  }

  #best-sellers{
    display: flex;
    flex-direction: column;
  }
  .mobilebest-seller.mobile-product-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .guide-container.guides-page{
    background-image: url(../img/banner/cliqguideskeyboard2.png);

    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
