@font-face {
  font-family: moonFont;
  src: url(../fonts/MoonLight.otf);
}

*, *::after, *::before{
  box-sizing: border-box;
}

body {
  font-family: "Mulish", "Roboto", sans-serif;
  background-color: #EFEFEF;
  color: #3E3E3E;
}

body, html {
  margin: 0;

}

a {
  transition: 0.3s;
  text-decoration: none;
}

section {
    padding: 2.5rem 0 2.5rem 0;
}

header h1 {
  text-align: center;
}

header {
  padding: 2.5rem 0;
}


p {
  line-height: 140%;
}

/* TODO used for pattern */
section p {
  /* max-width: 75%; */
}

h1, .big-title {
    font-family: moonFont;
    font-weight: 300;
    color: #3E3E3E;
    font-size: 3rem;
    letter-spacing: .075em;
}

h2 {
  font-family: moonFont;
  font-weight: 300;
  color: #3E3E3E;

  letter-spacing: 3px;
}

h3 {
    font-family: moonFont;
    font-weight: 300;
    color: #3E3E3E;

    letter-spacing: 3px;
}

.hide-overflow-x{
  overflow-x: hidden;
}

.home-page{
  /*height: 100vh;*/
}

.light-color-text{
  color: #C6D1D3;
}

.color-swatches{
  height: 8em;
  width: 8em;
}

.hidden{
	display: none;
}


/* table */
table {
  border-collapse: collapse;
  box-shadow: inset 5px 5px 10px #CBCBCB, inset -5px -5px 10px #FFFFFF;
}
tr , th , td  {
  border: 1px solid #C6D1D3;
  padding: .75em 1em;
}
/* end of table */



nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: "Mulish", sans-serif;
}

/* Beginning of Nav */


.logo-dark a{

  padding: 0.5em 1em 0.5em 1em;
  font-size: 28px;


  border-radius: 25px;
  width: 52pt;
  height: auto;
  color: #FAFBFF;
  background-color: #312E37;
  /*border-radius: 30pt;*/
  box-shadow:  8px 8px 16px #242228, -8px -8px 16px #3E3A46;
  text-align: center;
  /*padding: 18pt 30pt;*/
  font-family: 'Comfortaa', cursive;
}

/* mainnav */


.mainnav .navlink.current-page, .mainnav-mobile .navlink.current-page {
  /*color: pink;*/
  color: #F56F56;
  box-shadow: inset -1.5px -1.5px 3px #FAFBFF, inset 3px 3px 6px #BEBEBE;
  border-radius: 15px;
}

.mainnav a, .mainnav-mobile a{
  /*padding: 0 1.5em 0 1.5em;*/
  padding: 0.5em .75em 0.5em .75em;
  color: #3E3E3E;
}

nav .mainnav a:hover, .mainnav-mobile a:hover{
  color: #F56F54;
}

nav #logo {
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 1em;
  font-size: 28px;
  user-select:none;

  border-radius: 25px;
  background: #EFEFEF;
  box-shadow: 15px 15px 30px #CBCBCB, -15px -15px 30px #FFFFFF;

  font-family: "Comfortaa";
  font-weight: 400;
  color: #3E3E3E;
}




nav #logo:focus {
  box-shadow: inset 8px 8px 10px #CBCBCB, inset -15px -15px 20px #FFFFFF;

  color: #F56F54;
}

.searchbar{
  margin-right: 2em;
  padding: 0.5em 0 0.5em 2em;

  color: #312E37;
  background-color: #EFEFEF;

  border: 0px;
  box-shadow: inset 5px 5px 10px #CBCBCB, inset -5px -5px 10px #FFFFFF;
  border-radius: 18px;
}

.searchbar::placeholder{
  color: #d1d1d1;
}

.input-label {
  box-sizing: border-box;
  padding-left: 26.7px;
  margin-bottom: 3px;
  margin-top: 0px;
}

nav .searchcart a{
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: 7px 7px 14px #BABABA, -8px -8px 9px #FFFFFF;
  border-radius: 18px;
}
nav .searchcart a:hover{
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: 12px 12px 16px #BABABA, -14px -14px 12px #FFFFFF;
  border-radius: 18px;
}
nav .searchcart a:focus{
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: inset 5px 5px 8px #BABABA, inset -5px -5px 8px #FFFFFF;
  border-radius: 18px;
}

#shoppingbagimg {
  width: 20px;
  height: auto;
  vertical-align: middle;
}


.subnav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* grid-column: 2 / 4; */
}

.subnav ul {
  padding: 2.5em 0 2.5em 0;
  margin: 0;
}

.subnav li {
  padding: 0.5em 0 0.5em 0;
  list-style: none;
}

.subnav a{
  color: #3E3E3E;
}

.subnav a:hover {
  color: #F56F54;
}

/* End of Nav */


.main-content-wrapper {
  display: grid;

  grid-template-columns: repeat(8, 1fr);

  width: 100%;
}

.main-content {
  grid-column: 4 / span 8;
  padding-left: 2rem;
  padding-right: 2em;
}

#neucolourchip {
  box-shadow: 10px 10px 30px #CBCBCB, -10px -10px 30px #FFFFFF;
}


.colourchips{
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / span 3;

  padding-right: 1em;
}
.colourchips > div {
  margin-right: 20px;
}
.colourchips img {
  max-width: 100%;
  height: auto;
}






.product-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 100px;
}


.product-grid-container .filter{
  grid-column: 2 / span 1;
}

.product-grid-container #product1{
  grid-column: 3 / span 3;
}
.product-grid-container #product2{
  grid-column: 6 / span 3;
}
.product-grid-container #product3{
  grid-column: 9 / span 3;
}
.product-grid-container #product4{
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;
}







.real-button-example {
  padding: 1.5em .75em;
  margin: 1.5em 0 1.5em;
  border-radius: 20px;
}


/* default btn */
.default-btn{
  font-family: "Muli", "Mulish", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  color: #3E3E3E;

  white-space: nowrap;

  background-color: #EFEFEF;
  padding: 1em 3em 1em 3em;

  transition: 0.3s;
  border-radius: 20px;
  box-shadow: 8px 8px 16px #CBCBCB, -8px -8px 16px #FFFFFF, inset 0 0 0 rgba(203, 203, 203, 0), inset 0 0 0 rgba(255, 255, 255, 0);

  cursor: pointer;
}

/* end of default btn */

/* primary-btn */

.primary-btn:hover{
  color: #F56F54;
}

.primary-btn:active, .primary-btn.active{
  box-shadow: 0 0 0 rgba(203, 203, 203, 0), 0 0 0 rgba(255, 255, 255, 0),
  inset 5px 5px 10px #CBCBCB, inset -5px -5px 10px #FFFFFF;
}

/* end of primary-btn */

/* secondary-btn */
.secondary-btn{
  color:#F56F54;
  transition: color 200ms, background-color 200ms, box-shadow 200ms;
}

.secondary-btn:hover{
  background-color: #F56F54;
  color: #FAFFFD;
  transition-duration: 200ms;
  box-shadow: 10px 10px 20px #CBCBCB,
  -10px -10px 20px #ffffff,
  inset 0px 0px 0px #d05e4700,
  inset -0px -0px 0px #ffac9700;
}

.secondary-btn:active, .secondary-btn.active{
  background-color: #F56F54;
  box-shadow: 0px 0px 0px #CBCBCB00,
  -0px -0px 0px #ffffff00,
  inset 10px 10px 20px #D05E47,
  inset -10px -10px 20px #FFAB97;
}
/* end of secondary-btn */

/* disabled-btn */
.default-btn:disabled, .default-btn.disabled {
  color: #FAFFFD;
  background-color: #C6D1D3;
  box-shadow: 0 0 0 rgba(203, 203, 203, 0), 0 0 0 rgba(255, 255, 255, 0),
  inset 0 0 0 rgba(203, 203, 203, 0), inset 0 0 0 rgba(255, 255, 255, 0);
  cursor: default;
}
.default-btn.disabled:hover {
  color: #FAFFFD;
}
/* end of disabled-btn */

/* flat button II */
/* * please don't delete again T^T * */
.flat-button{
  border-radius: 5px;
  box-shadow: inset 0 0 0 rgba(203, 203, 203, 0), inset 0 0 0 rgba(255, 255, 255, 0);
}
.flat-button:focus {
  box-shadow: inset 5px 5px 10px #CBCBCB, inset -5px -5px 10px #FFFFFF;
}
/* end of flat button II */

/* default-link */

.default-link:hover{
  color: #F56F54;
}


pre {
  background-color: #312E37;
  color: white;
  max-width: 100%;
  overflow-x: scroll;
}


.inlinelink {
  color: #F56F54;
  word-wrap: break-word;
}

.inlinelink:hover {
  opacity: 50%;

}





#type h1 {
  font-size: 2em;
}

.codestructure img {
  width: 75%;
  height: auto;
}



/*.sampleproductcard.filterDiv {
  display: none;
}

.show {
  display: flex;
}*/

/* Product Card */

a.sampleproductcard:hover{
  box-shadow: 7px 7px 20px #CBCBCB, -7px -7px 20px #FFFFFF, inset 0 0 0 rgba(203, 203, 203, 0), inset 0 0 0 rgba(255, 255, 255, 0);

  cursor: pointer;
}

.sampleproductcard img{
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  /* border: 2px solid white;
  border-radius: 12px; */

}

.sampleproductcard {
  border: none;
  border-radius: 25px;
  background-color: #EFEFEF;
  width: 285px;
  color: #312E37;
  display: flex;
  flex-direction: column;

  padding: .75em;

  box-shadow: 3px 3px 6px rgba(203, 203, 203, .65), -3px -3px 6px rgba(255, 255, 255, .65), inset 0 0 0 rgba(203, 203, 203, 0), inset 0 0 0 rgba(255, 255, 255, 0);

  margin: 0 0 2.5rem 0;
}

.product-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-info p{
  max-width: none;
  padding: 0;
  margin: 0.25em 0 0.25em 0;
}

.product-info div:first-child {
  width: 85%;
}

.orange-pricetag {
  color: #F56F54;
}



#navigation nav {
  max-width: 75%;
}

.nero-box-shadow {
  border: none;
  box-shadow: 5px 5px 15px #BEBEBE, -5px -5px 15px #FFFFFF;
}

/* START OF SHOPPING CART */
.shopping-cart {
  width: clamp(20em,100%,32em);
/*   border: 1px solid;
  border-color: #8E8E8E; */
  border-radius: 35px;

  padding: 2em;
}

.shopping-cart h4{
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #312E37;
  letter-spacing: 0.75px;
}

.shopping-cart .orange-pricetag{
  color: #F56F54;
}

.shopping-cart img {
  width: 100%;
  height: auto;
}

.shopping-cart .product-thumbnail {
  width: clamp(100px, 40%, 125px);
  height: auto;
}


.shopping-cart .cart-product-wrapper {
  padding: 2em 0 2em 0;
  min-height: 20em;
  height: 100%;
  flex-grow: 5;
}

.shopping-cart .product {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.shopping-cart .subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shopping-cart .checkout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0 1em 0;


}

.shopping-cart .checkout-button a{
  border: none;
  border-radius: 25px;
  background-color: #F56F54;
  color: white;
  padding: 1em 2em 1em 2em;

  box-shadow: 5px 5px 15px #BEBEBE, -5px -5px 15px #FFFFFF;
}



.product .description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5em;
  width: 100%;
}
.product .description p {
  color: #8E8E8E;
  font-size: 0.8em;
  max-width: 100%;
  margin: 0;
  padding: 0.25em 0 0 0;
}

.product .description h4 {
  margin: 0;
}
/* END OF SHOPPING CART */


.product-content-container {
  display: grid;

  grid-template-columns: repeat(8, 1fr);
}

.product-content-container .real-button-example {
  grid-column: 7/ span 8;
}

.black-box {
  background-color: #312E37;
  grid-column: 1/5;
  grid-row: 1/7;
}

.black-box .content h2, .black-box .content h3{
  color: white;
}
.black-box .content h2{
  font-size: 2.5em;
  margin-bottom: 0.25em;
}
.black-box .content h3{
  font-size: 1.75em;
  margin-top: 0;
}

.black-box .content{
  padding: 3em 2em 2em 3em;
}




#product-detail .sample-product-header {
  width: 100%;
  border: 1px solid;
  border-color: #8E8E8E;

}

#product-detail .sample-product-header img{
  width: 100%;
  height: auto;
  z-index: 0;
}

#product-detail .sample-product-header a{
  z-index: 2;

}

.sample-product-header .black-box {
  background-color: #312E37;
  padding: 0 2em 2em 2em;

}

.sample-product-header .black-box h2{
  color: white;
  /*font-size: 1.75em;*/

}
.sample-product-header .black-box h3{
  font-family: moonFont;
  color: white;
}
.sample-product-header .black-box p{
  color: white;
  font-size: 0.8em;
  max-width: 80%;

}



#navigation .mininav {
  max-width: 97%;
}

.mininav {
  width: 100%;
  margin: 4em 0 4em 0;
}

.mininav .mainnav a{
  padding: 0 0.25em 0 0.25em;
}

.mininav .mainnav #logo {
  margin: 0;
}






#mockupsmain-content img{
  width: 100%;
  height: auto;
}

#wireframemain-content img{
  width: 100%;
  height: auto;
}

#references a{
  color: #C6D1D3;
}

#references a:hover{
  color: #F56F54;
}


ul li {
  font-family: "Mulish", sans-serif;
  color: #312E37;
}


ol li {
  font-family: "Mulish", sans-serif;
  color: #312E37;
}


/* TODO DANIEL */


/* Beginning of Footer */

footer{
  min-height: 45vh;
  background-color: #312E37;
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  color:#FAFBFF;
  padding: 1em 0;
  margin-top: 5em;
}

footer .footer-row{
  display: flex;
  margin: 2em 0 4em;
  justify-content: space-between;
}

footer ul li{
  margin: 0;
  padding: 0 0 0.5em 0;
}

footer ul{
  margin: 0;
  padding: 0;
}

footer ul li a{
  color: #FAFBFF;
}

footer p {
  margin-top: 0;
  max-width: 100%;
}

.company-info-wrapper{
  display: flex;
}

.social-media-links ul li{
  display: inline;
  margin: auto .25em;
}

.social-media-links {
  display: inline;
  margin: 0 2em 0 2em;
}


.company-list-info{
  margin: 0 2em 0 2em;
}


.text-input-dark{
  width: 200pt;
  padding: 8pt 14pt 8pt 14pt;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  font-size: 0.9em;
  box-shadow: inset 5px 5px 10px #242228, inset -5px -5px 10px #3E3A46;
  background-color: #312E37;
  color: #F56F54;
  caret-color: #FAFFFD;
}
.text-input-dark::placeholder {
  color: #C6D1D3;
}

.text-input-dark:focus, .searchbar:focus{
  outline: none;
}

/* align copyright text to be inline with logo */
.footer-row .secondary-textcopyright{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-heading {
  color: #C6D1D3;
}

.social-media-links img{
  width: 20px;
  height: auto;
}



/* End of Footer */



/* Nav Media Queries */
@media only screen and (max-width: 73em){
  #dropbtn{
      display: none;
  }

  .logo-dark{
      display: none;
  }
  .copyright{
      text-align: center;
      width: 100%;
      margin: auto;
  }

  footer .footer-row{
      flex-direction: column;
      margin: auto;
      text-align: center;
  }
  .company-info-wrapper{
      margin-top: 2em;
      justify-content: center;
  }
  footer .footer-row.mailing-list > *{
      font-size: 14pt;
      color: #efefef;
  }
  .social-media-links ul{
      flex-direction: column;
      display: flex;
  }

}


@media only screen and (max-width: 50em){
  #dropbtn{
      display: contents;
  }
  .nav-menu > .nav-mobile > * {
      margin: .5em 0;
  }
  .company-info-wrapper > *{
      margin: auto;
  }
  .company-info-wrapper{
      flex-wrap: wrap;
  }
  .social-media-links ul{
      flex-direction: row;
      justify-content: space-between;
      margin: 3em auto;
  }
  .company-list-info{
      margin: 1em 2em;
  }
  footer{
      min-height: 60vh;
  }
  .hero-product-container .real-button-example{
    display: none;
  }
  .product-content-container .black-box{
    grid-column: 1/9;
    grid-row: 1/7;
  }
  .sample-product-header .black-box p{
    max-width: 100%;
  }
}

/* End of Nav Media Queries */


/* END OF TODO DANIEL */




#grids #gridparagraph {
  text-align: left;
  max-width: 80%;
}
#grids p {
  max-width: 100%;
  text-align: center;
}

.section-header {
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1.5px solid #F56F54;
}

.burger{
  display: none;
  flex-wrap: wrap;
}
.mobilenav {
  display: none;
}

.mobileicon img{
  width: 40px;
  height: auto;
}

.patternhighlight{
  box-shadow: inset 6px 6px 12px #CBCBCB, inset -6px -6px 12px #FFFFFF;
  border-radius: 15px;
}



.mainnav-mobile{
  display: none;
}

/* 890 px / 16 = 59 em*/
/* when smaller than or equal to this max width, apply this content*/
@media screen and (max-width: 58em) {

  /* just change things that need to be changed/overwritten*/
  .card-row-container {
    grid-column: 1 / 9;
  }

}


@media screen and (max-width: 59em) {
  nav {
    /*background-color: pink;*/
  }

  nav .mainnav a {
    padding: 0 0.5em 0 0.5em;
  }

  nav #logo {
    margin-right: 0.25em;
  }

}

/* Change to mobile nav */
@media screen and (max-width: 57em) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }

  .mainnav-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mainnav-mobile .logo-shoppingcart-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile-searchbar .searchbar{
    width: 100%;
  }

  nav .mainnav .mobilenav{
    padding: 0;
    margin: 0;
  }
.mainnav {
    display: none;
  }
.mainnav .shophighlight, .mainnav .guidehighlight, .mainnav .citehighlight, .mainnav .patternhighlight, .patternhighlight, .mainnav .navlink {
    display: none;
  }

  .burger{
    /*background-color: aqua;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0 1em 0;
  }
  .mobileicon img{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #CBCBCB, -5px -5px 10px #FFFFFF;
  }
  nav .searchcart{
    display: none;
  }
}

/* dealing with the product cards*/
@media screen and (max-width: 43em) {

  .main, .sidebar {
    grid-column: 1 / span 9;
  }

  .product-card{
    grid-column: 1 / span 3;
    margin: 0.5rem;
  }

  .card-row-container {
    grid-row: 4 / 6;
  }

  .hero-container p{
    max-width: 100%;
  }

  .colourchips{
    grid-template-columns: repeat(1, 1fr);
  }

  .subnav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* grid-column: 2 / 8; */
  }

  .main-content {
    grid-column: 1 / 9;
  }


  .main-content-wrapper {
    display: grid;

    grid-template-columns: repeat(8, 1fr);
  }

  p {
    max-width: 100%;
  }

  .about-us p{
    max-width: 100%;
  }
  .about-us {
    display: flex;
    flex-direction: column;
  }

  footer .footer-toppart{
    display: flex;
    flex-direction: column;

  }
  footer .footer-bottom{
    display: flex;
    flex-direction: column;

  }


}



/* ------- general style combo classes ------- */
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-row.space-between, .flex-col.space-between{
  justify-content: space-between;
}
.flex-row.justify-content-center, .flex-col.justify-content-center {
  justify-content: center;
}
.flex-row.align-items-end, .flex-col.align-items-end  {
  align-items: flex-end;
}

.align-self-stretch{
  align-self: stretch;
}

.margin-top-100px {
  margin-top: 90px;
  margin-bottom: 90px;
}
.margin-top-40px {
  margin-top: 40px;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-right-40px {
  margin-right: 40px;
}
/* ------- end of general style combo classes ------- */



/* ------- product-detail page ------- */
.detail-img-preview-container > div{
  grid-column: 1/-1;
  height:20em;
}

.hero-product-container {
  position: relative;
}

.hero-product-container {
  height: auto;
  width: 100%;
  bottom: 0;
  display: flex;
}

.hero-product-container .cta-border{
  position: absolute;
  right: 2.5em;
  bottom: 0;
}

.add-to-cart-wrapper{
  width:100%;
  position: relative;
  height:auto;
}

.cta-border{
  padding: 1.5em .75em;
  margin: 1.5em 0;
  border-radius: 20px;
  background-color: #efefef;
}

#img-preview-1{
  background-color: blue;
}

#img-preview-2{
  height: 30em;
  margin-right: -24em;
}

#img-preview-3{
  background-color: blue;
}

.detail-img-preview{
  height: 15em;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.detail-img-preview img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.page-break > div{
  margin: auto;
}

.neu-divider{
  height: 10em;
  width: 10em;
}

.neu-extrusion{
  border-radius: 25px;
  background: #EFEFEF;
  box-shadow: 15px 15px 30px #CBCBCB, -15px -15px 30px #FFFFFF;
  margin: 3em 0;
}

.product-description-container{
  padding: 3em;
}

.keycap-detail-container{
  padding: 3em;
  margin-top: 8em;
}

.keycap-detail-container .justify-space{
  display: flex;
  justify-content: space-between;
}

.neu-small-container{
  max-width: 7em;
  max-height: 7em;
  width: 7em;
  height: 7em;
}

.neu-med-container{
  max-width: 15em;
  max-height: 15em;
  width: 15em;
  height: 15em;
}

.neu-container{
  display: flex;
}

.neu-container img{
  margin: auto;
}

.justify-space{
  display: flex;
  justify-content: space-between;
}

.extended-section-margin{
  margin: 5rem 0;
}

.product-detail-extend-y {
  margin-top: -5em;
  margin-bottom: -5em;
  display: flex;
}

.product-detail-extend-y img{
  margin: 3em auto;
  border-radius: 1.5rem;
}

/* keyswitch section */
.keyswitch-section .switch-characteristics-container.justify-space div:nth-child(2){
  margin: 0 1em;
}

.keyswitch-section .switch-characteristics-container.justify-space div {
  margin: 0;
}

.switch-characteristics-container.justify-space{
  margin-top: 3rem;
}



/* end of keyswitch section */

/* keycap section */
.keycap-section .switch-characteristics-container.justify-space div:nth-child(2){
  margin: 0 2em;
}

.keycap-section .switch-characteristics-container.justify-space div{
  margin: 0;
}

.keycap-section .product-detail-extend-y img{
  margin: 5em auto;
  width: 25em;
}

.neu-med-container-img{
  margin: auto;
  width: 11em;
}
/* end of keycap section */

/* gallery section */

.gallery-container{
  display: grid;
  position: relative;
}

.gallery-section{
  position: relative;
}

.gallery-section h2 {
  text-align: center;
}

.gallery-background-banner{
  background-color: #312E37;
  height: 20em;
  margin: 0px -100%;
  position: absolute;
  top: 30%;
  width: 200em;
  z-index: -1;
}

figure{
  margin: 0;
}

/* beginning check-out-more-section */
.check-out-more-section h2 {
  text-align: center;
}

.pagination-btn {

  font-family: "Muli", "Mulish", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  color: #3E3E3E;

  white-space: nowrap;

  background-color: #EFEFEF;
  padding: 1em 1.4em;

  transition: 0.3s;
  border-radius: 30px;
  box-shadow: 8px 8px 16px #CBCBCB, -8px -8px 16px #FFFFFF, inset 0 0 0 rgba(203, 203, 203, 0), inset 0 0 0 rgba(255, 255, 255, 0);

  cursor: pointer;
  max-height: 3.5em;
  max-width: 3.5em;


}

.check-out-wrapper{
  display: flex;
  justify-content: space-around;
}

.check-out-wrapper .pagination-btn{
  margin: auto 0;
}

/* end of check-out-more-section */

/* ------- end of product details page ------- */
