.banner-container-product-list {
    margin-top: 130px;
    margin-bottom: 130px;
}
.banner-image-product-list {

}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4em;
}

.page-navagation {
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
}
.page-navagation > .default-btn {
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin-left: .425em;
    margin-right: .425em;
}

.page-navagation img{
  width: 18px;
  height: auto;
  vertical-align: middle;
}

#rightarrow{
  padding-right: 1em;
}
#leftarrow{
  padding-left: 1em;
}

.filter h2{
  font-size: 1.5em;
}

/* flex product to 2 cards per row */
@media screen and (max-width: 90em) {
    .sampleproductcard {
        width: clamp(300px, 46%, 445px);
        margin-bottom: 3rem;
    }
}

/* flex product to 1 cards per row */
@media screen and (max-width: 66em) {
    .sampleproductcard {
        width: clamp(300px, 100%, 445px);
    }
}

/* mobile breakpoint for girds */
@media screen and (max-width: 45em) {
    .banner-container-product-list {
        margin-top: 20px;
    }

    .hero-img {
        order: -1;

        display: flex;
        justify-content: center;
    }
    .hero-img > img {
        width: 120%;
    }

    .product-container {
        margin-bottom: 3.75em;
    }
    .sampleproductcard, .filter {
        margin-left: 2em;
        margin-right: 2em;
    }
}
