.banner-container-product-list {
    margin-top: 130px;
    margin-bottom: 130px;
}
.hero-img {
  z-index: -5;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4em;
  opacity: 0;
}
.product-container.refresh {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

.page-navigation {
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
}
.page-navigation > .default-btn {
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin-left: .425em;
    margin-right: .425em;
}

.page-navigation img{
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.page-navigation a{

}

.page-navigation .active{
  color: #F56F54;
}

#rightarrow{
  padding-right: 1em;
}
#leftarrow{
  padding-left: 1em;
}







.filter h2{
  font-size: 1.5em;
}

.filter div {
  color: #312E37;
  display: flex;
  flex-direction: row;
  padding: 1em 0 1em 0;
}

.filter div p{
  /*padding: 1em 1em 1em 2em;*/
  padding: 0;
  padding-left: 2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter div .box{
  /*border: 2px solid red;*/
  padding: 10px;
  border-radius: 5px;
  /*box-shadow: 5px 5px 10px #CBCBCB, -5px -5px 10px #FFFFFF;*/
  transition: 0.3s;
  box-shadow: 8px 8px 16px #CBCBCB, -8px -8px 16px #FFFFFF, inset 0 0 0 rgba(203, 203, 203, 0), inset 0 0 0 rgba(255, 255, 255, 0);
  cursor: pointer;

}

.filter div .box:active{
  box-shadow: 0 0 0 rgba(203, 203, 203, 0), 0 0 0 rgba(255, 255, 255, 0),
  inset 5px 5px 10px #CBCBCB, inset -5px -5px 10px #FFFFFF;
}





#filterContainer-mobile{
  display: none;
}
.filter-mobile h2{
  display: none;
}
#mobile-filter-grid{
  display: none;
}

.filter div .box .dot{
  width: 20px;
  height: 20px;
  border: 2px solid #F56F54;
  border-radius: 30px;
}

.filterbtn.active .dot{
  background-color: aqua;
}

.sampleproductcard.show {
  display: flex;
}
.filterCard {
  display: none;  /* Hidden by default */
}

/* .fade-in{
  animation: fadein 0.8s ease-in forwards;

}

@keyframes fadein {

  from{}
    to{}

} */


/* flex product to 2 cards per row */
@media screen and (max-width: 90em) {
    .sampleproductcard {
        width: clamp(300px, 46%, 445px);
        margin-bottom: 3rem;
    }
}

/* flex product to 1 cards per row */
@media screen and (max-width: 66em) {
    .sampleproductcard {
        width: clamp(300px, 100%, 445px);
    }
}

/* mobile breakpoint for girds */
@media screen and (max-width: 45em) {
    .banner-container-product-list {
        margin-top: 20px;
    }

    .hero-img {
        order: -1;

        display: flex;
        justify-content: center;
    }
    .hero-img > img {
        width: 120%;
    }

    .product-container {
        margin-bottom: 3.75em;
    }
    .sampleproductcard, .filter {
        margin-left: 0;
        margin-right: 0;
    }
    #learn-more-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    #filterContainer {
      display: none;
    }
    #filterContainer-mobile{
      display: flex;

    }
    .filter-mobile h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #mobile-filter-grid{
      display: flex;
    }

    .page-navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 4em;
    }

}
